@import './variables.scss';


.btn {
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  background: $btnBlue;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  color: $headerFontColor;
  font-weight: 800;
  transition: opacity 300ms ease-in-out;
  font-size: 18px;
  margin-bottom: 1em;
  &:hover {
    opacity: 0.75;
  }
 }