@import './style';


.header {
  margin: 0, 1em, 0, 1em;
  width: 100%;
  height: 5.5em;
  background-color: aliceblue;
  color: rgb(6, 20, 131);
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;



  &__logo {
    img {
      width: 300px;
      height: min-content;
    }
  }

  &__menu {
    a, a:visited, a:hover {
      color: rgb(6, 20, 131);
      margin-right: 1em;
      text-decoration: none;
    }
  }


}