@import './style';


.header {
  margin: 0;
  width: 100%;
  background-color: $mainBlue;
  color: rgb(6, 20, 131);
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  height: 90vh;


  &__logo {
    display: flex;
    align-items:center;
    margin-bottom: 8em;
    h1 {
      letter-spacing: 0.1em;
      margin: 0;
    }
    img {
      width: 150px;
      height: 80px;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2em 0 2em;

    &__copy {
      img {
        display: none;
      }
      @media (min-width: 1000px) {
        img {
          display: inline;
        }
        width: 50%;
      }
    }

    p {
      line-height: 2em;
    }

  }
}