@import './style';


.login {
  text-align: center;
  margin: 10em 2em 0 2em;
  line-height: 2;

  p {
    font-size: 19px;
  }

  @media (min-width: 1000px) {
    display: flex;
  }

}


.offer {
  padding: 0 0.8em 0 0.8em;
  margin-bottom: 3em;
  text-align: center;
}