@import "./style";

.maincard {
  height: 8em;
  background-color: rgb(187, 207, 227);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 1em;
  padding: 0 0.5em 0 0.5em;
  border-radius: 5px;

  &-header {
    display: flex;
    justify-content: space-between;
    height: 5.5em;
    padding-top: 0.5em;
    p {
      font-weight: 500;
      margin: 0;
    }
  }
  &-addbtn {
    span {
      border-radius: 5px;
      padding: 5px;
      color: rgb(239, 242, 245);
      background-color: rgba(52, 194, 92, 0.781);
    }
    width: 100%;
  }
}
