$mainBlue: rgba(17, 55, 121, 0.98);
$headerFontColor: hsl(208, 100%, 97%);
$mainOrange: rgb(255, 123, 0);





// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

